{% extends "base.html" %}

{% block main %}
<h1>Password change page</h1>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

<form action="{% url 'tasks:password_change' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change">
</form>

<br>

<a href="{% url 'tasks:index' %}">戻る</a>
{% endblock %}
